HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled class files
*.class
**/bin/

# Temporary files
*.log
*.tmp
*.bak

# Package files
*.jar
*.war
*.ear

# IDE settings
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/